.Container {
  padding: 6em;
  color: var(--primaryDark);
}

.LeadTitle {
  margin-top: 1em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: var(--primaryFontFamily);
}

.SubTitle {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #6c757d;
  font-family: var(--primaryFontFamily);
}

.LeadText {
  /* margin-top: 40px; */
  line-height: 1.6;
}

.FormInput {
  border-color: #ced4da;
  /* border-color: var(--primaryDark); */
}

.FormInput:focus {
  border-color: #ced4da;
  /* border-color: var(--primaryDark); */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.Label {
  margin-top: 20px;
}

.Button {
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  text-decoration: none;
  padding: 6px 12px;
  background: transparent;
  color: var(--primaryDark);
  width: 150px;
  height: 35px;
  border-style: solid;
  /* border-radius: 0; */
  border-radius: 0.25rem;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;

  border: 1px solid #ced4da;
  /* border: 1px solid var(--primaryDark); */
}

.Button:hover,
.Button:focus {
  background-color: var(--primaryDark);
  transition-duration: 0.5s;
  color: #ffffff;
  border-color: var(--primaryDark);
  outline: none;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* body {
    background-color: yellow;
  } */

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* body {
    background-color: steelblue;
  } */

  .Container {
    padding: 6em;
  }

  .LeadTitle {
    padding-top: 2em;
  }

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  /* body {
    background-color: brown;
  } */

  .Container {
    padding: 6em;
  }

  .LeadTitle {
    padding-top: 2em;
  }

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  /* body {
    background-color: salmon;
  } */

  .Container {
    padding: 6em 4em 4em 4em;
  }

  .LeadTitle {
    padding-top: 3em;
  }

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  /* body {
    background-color: black;
  } */

  .Container {
    padding: 6em 4em 4em 4em;
  }

  .LeadTitle {
    padding-top: 3em;
  }

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* body {
    background-color: burlywood;
  } */

  .Container {
    padding: 6em 4em 4em 4em;
  }

  .LeadTitle {
    padding-top: 3em;
  }

  .LeadText {
    margin-top: 40px;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* body {
    background-color: pink;
  } */

  .Container {
    padding: 6em 4em 4em 4em;
  }

  .LeadTitle {
    padding-top: 3em;
  }

  .LeadText {
    margin-top: 40px;
  }
}
