.Navbar {
  /* Fix navbar to the top: */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* End fixed navbar styles */
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #f4f4f4;
  color: #141414;
  font-weight: 300;
  padding: 0 20px;
}

.ItemsDiv,
.Pages,
.Socials {
  display: flex;
}

.Navbar ul {
  display: flex;
}

.Navbar li {
  list-style: none;
}

.NavbarTitle {
  letter-spacing: 1.5px;
  /* text-transform: uppercase; */
  font-weight: 700;
  margin-right: auto;
  font-size: 125%;
  padding: 12px 16px;
}

.BrandLink {
  color: var(--primaryDark);
  text-decoration: none;
  text-transform: uppercase;

  font-family: var(--primaryFontFamily);
}

.BrandLink:hover {
  color: var(--primaryDark);
}

.NavbarItem {
  padding: 6px 16px;
  vertical-align: middle;
}

.NavLink {
  color: var(--primaryDark);
  text-decoration: none;
  text-transform: uppercase;
  /* font-size: 14px; */
  font-size: 12.5px;
  letter-spacing: 1px;

  font-family: var(--primaryFontFamily);
}

.NavLink:hover {
  color: var(--primaryDark);
  border-top: 2px solid var(--secondaryDark);

  padding-top: 4px;
}

.SocialIcons {
  color: var(--primaryDark);
}

.SocialIcons:hover {
  color: var(--primaryDark);
  border-top: 2px solid var(--secondaryDark);
}

ul {
  margin: 0;
  padding: 16px 16px;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* body {
          background-color: red;
        } */
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* body {
          background-color: yellow;
        } */
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* body {
          background-color: steelblue;
        } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  /* body {
      background-color: brown;
    } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  /* body {
      background-color: salmon;
    } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .ItemsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  /* body {
      background-color: black;
    } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .ItemsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* body {
      background-color: burlywood;
    } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .ItemsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* body {
      background-color: pink;
    } */

  .Navbar {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .Navbar ul {
    text-align: center;
    justify-content: center;
  }

  .NavbarTitle {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .ItemsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
